- content_for :toolbar do
  = link_to new_company_astroturf_path, class: 'btn btn-info' do
    %i.icon-plus-circle
      = t('tt.new', resource_name: Astroturf.model_name.human)
.panel.panel-default
  =blankable(@astroturves)
  .panel-footer
    .pagination.pagination-sm
      = will_paginate @astroturves, renderer: BootstrapPagination::Rails, bootstrap: 3
